<!doctype html>
<html>
     <head>
                <title>Webpage</title>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    </head>
                
                
   <body >
        <style type=text/css>
            body{
                background-image: url("static/images/charity.jpg");
            }
            </style>   
       <h1> {{ prediction }}</h1>
   </body>
</html>